@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */

/* Navbar logo */
#logo img{
    height: 70px;
    width: 70px;
    padding: 4px 30px;
    margin-top: 4px;
    margin-left: 20px;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    
}
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    margin: 5px 6px;
    padding: 6px 10px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}
#navbar ul li a:hover{
   background-color: white;
    color: tomato;
    border-radius: 15px;

}

/* Home */

#home{
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 3px 200px;
    /* margin-top: 15px; */
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(../static/img/bg2.jpg) no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 28px;
}
#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}
/* Services Section */
#services{
    margin: 25px 52px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
        padding: 30px;
    margin: 14px;
    border-radius: 18px;
    background-color: #fff0ff;
}
#services .box img{
    height: 201px;
    display: block;
    margin: auto;

}

/* Client Section */
#client-section{
    height:344px;
}
#client-section::before{
   content: "";
   position: absolute;
    background: url(../static/img/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 344px;
    z-index: -1;
    opacity:0.4 ;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: item;

}
#clients img{
    height: 93px;  
}
.client-box{
    padding:34px

}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(../static/img/contact.png) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    /* height: 344px; */
    z-index: -1;
    opacity:0.4 ;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input,
 #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    border: 2px solid black;
    font-size: 1.1rem;
    margin: 8px 2px
 }
 #contact-box form{
     width: 40%;
 }
 #contact-box label{
    font-family: 'Bree Serif', serif;
     font-size: 1.3rem;
 }
.form-group button{
    text-align: center;
    width: 100%;
    background: grey;
    color: white;
    margin: 7px auto;
    padding: 7px 7px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* Footer Section */
.footer{
    background-color: black;
    color: white;
    padding: 5px 1px;

}
/* Partners Section */


/* Utility Classes */
.h-primary{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}
.center{
    text-align: center;
}

